project:
  type: website

website:
  title: "law2econ"
  description: "Law & Economics"
  site-url:   https://law2econ.org/


  navbar:
    right:
      - about.qmd
      - icon: github
        href: https://github.com/PraachiM

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css

editor: visual

